<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_app_list.title %>
</p>

<%= link_to 'Edit', edit_todo_app_list_path(@todo_app_list) %> |
<%= link_to 'Back', todo_app_lists_path %>
