<div class="user-form-fields">
  <div><%= form.text_field :name, placeholder: "Name" %></div>
  <div><%= form.text_field :email, placeholder: "Your e-mail address", type: "email" %></div>
  <div><%= form.text_field :password, placeholder: "Set your password", type: "password" %></div>
</div>
