<div class="wrapper">
  <div class="user_container">
  <div class="user_form">

  <h1 class="title_todo">Forgot Password</h1>
  <div class="description_todo">Enter your e-mail address. We will send you a link to restart your password.</div>

<%= form_for :password, url: passwords_path do |form| %>
    <div class="user_form_fields">
      <div class="form_title">E-mail address</div>
      <div><%= form.text_field :email, placeholder: "name@able.co", type: 'email' %></div>
    </div>

    <div class="user_actions">
      <div class="actions">
        <%= form.submit 'Reset password' %>
      </div>
    </div>

<% end %>

  </div>

  <div class="user_footer">
    <p>Did your press the wrong link?<%= link_to t(".sign_in"), sign_in_path %></p>
  </div>

  </div>
</div>
