<div class="wrapper">
  <div class="user_container">
  <div class="user_form">

  <h1 class="title_todo">Forgot Password</h1>
  <div class="description_todo">Enter your e-mail address. We will send you a link to restart your password.</div>

    <div class="user_form_fields">
      <div class="form_title">E-mail address</div>
      <div><input placeholder="name@able.co" ></div>
    </div>

    <div class="user_actions">
      <div class="actions">
        <input type="submit" value="Send" >
      </div>
    </div>

  </div>

  <div class="user_footer">
    <p>Did your press the wrong link?<a href="login.html">Back to login</a></p>
  </div>

  </div>
</div>
