<div class="user-container">
  <div class="user-content">
    <div class="user-tabs">
      <div class="active">
        Sign In
      </div>
      <div class="non-active">
        <%= link_to 'Sign Up', sign_up_path %>
      </div>
    </div>
    <div class="user-form">
      <h1 class="title_todo">Login</h1>
      <div class="description_todo">Use your able.co account to access.</div>
        <%= render partial: 'user/form_login' %>
      </div>

    <div class="user_footer">
      <p>Are you not registered?<%= link_to 'Sign up', sign_up_path %></p>
    </div>
  </div>
</div>
