<div class="wrapper">
  <div class="user_container">
  <div class="user_form">

  <h1 class="title_todo">Reset your password</h1>
  <div class="description_todo">Enter a new password and login</div>
  
    <div class="user_form_fields">
      <div class="form_title">Your new password</div>
      <div><input type="password" placeholder="4-8 characters" ></div>
      <div class="form_title">Confirm your new password</div>
      <div><input type="password" placeholder="4-8 characters" ></div>
    </div>

    <div class="user_actions">
      <div class="actions">
        <input type="submit" value="Reset password" >
      </div>
    </div>

  </div>

  <div class="user_footer">
    <p>Are you lost?<a href="login.html">Back to login</a></p>
  </div>

  </div>
</div>
