<div class="wrapper">
  <div class="user_container">
  <div class="user_form">

  <h1 class="title_todo">Sign up</h1>
  <div class="description_todo">Register your account</div>



    <%= render partial: '/user/form_signup', object: form %>


  </div>

  <div class="user_footer">
    <p>Do you have an account?<%= link_to 'login', sign_in_path %></p>
  </div>

  </div>
</div>
