<div class="wrapper">
  <div class="user_container">
  <div class="user_form">

  <h1 class="title_todo">Sign up</h1>
  <div class="description_todo">Register your account</div>

    <div class="user_form_fields">
      <div class="form_title">Name</div>
      <div><input placeholder="e.g. Gianfranco" ></div>
      <div class="form_title">E-mail address</div>
      <div><input placeholder="name@able.co" ></div>
      <div class="form_title">Password</div>
      <div><input type="password" placeholder="4-6 characters" ></div>
      <div class="form_title">Confirm Password</div>
      <div><input type="password" placeholder="4-6 characters" ></div>
    </div>
    <div class="user_actions">
      <div class="actions">
        <input type="submit" value="Register" >
      </div>
    </div>

  </div>

  <div class="user_footer">
    <p>Do you have an account?<a href="login.html">Login here</a></p>
  </div>

  </div>
</div>
