html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica,sans-serif;
  font-size: 14px;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #007AFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.active a {
  color: #000;
}
p {
  padding: 0;
  margin: 0;
  line-height: 20px;
}
input {
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  background: #FFF;
  border: 1px solid #E6EAEE;
  border-radius: 4px;
  outline: none;
}
input::-webkit-input-placeholder {
  color: #C8D1DA;
}
input:-moz-placeholder {
  color: #C8D1DA;
}
input:-ms-input-placeholder {
  color: #C8D1DA;;
}
input:focus {
  border: 1px solid #A5D0FF;
  outline: none;
}
textarea {
  padding: 8px 10px 8px 10px;
  font-size: 14px;
  background: #FFF;
  border: 1px solid #E6EAEE;
  border-radius: 4px;
  outline: none;
  resize: none;
}
textarea::-webkit-input-placeholder {
  color: #C8D1DA
}
textarea:-moz-placeholder {
  color: #C8D1DA;
}
textarea:-ms-input-placeholder {
  color: #C8D1DA;;
}
textarea:focus {
  border: 1px solid #A5D0FF;
  outline: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #FFF;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #D8E0EA;
    border-radius: 10px;
    opacity: 0.45;
    transition: 0.25s ease;
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
   background: #D8E0EA;
   opacity: 1;
}
::-webkit-scrollbar-thumb:window-inactive {
   background: #D8E0EA;
   opacity: 0;
}


// Header & Basic Style

.header {
  padding: 20px 30px 20px 30px;
  width: auto;
}
.container-open {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container-open-index {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.container-header {
  width: 100%;
}
.logo-container {
  position: relative;
  float: left;
  width: 35px;
  height: 26px;
  margin-right: 40px;
}
.logo-container a img {
  width: 32px;
}
.menu-container {
  position: relative;
  float: left;
  width: 400px;
  height: 26px;
  display: inline;
}
.menu-container ul {
  list-style-type: none;
  padding-top: 5px;
}
.menu-container ul li {
  display: inline;
  margin-right: 30px;
  a {
    padding: 10px;
  }
}

.user-menu {
  position: relative;
  width: 150px;
  float: right;
  text-align: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-user-btn {
  cursor: pointer;
  padding-top: 5px;
}

.dropdown-user-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  min-width: 160px;
  right: 0;
  top: 30px;
  text-align: left;
  border: 1px solid rgba(168,174,183,0.50);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.07), 0 1px 2px 0 rgba(0,0,0,0.14);
  border-radius: 4px;
  z-index: 10;
}
.dropdown-user-content a:first-child {
  display: block;
  padding: 15px 20px 5px 20px;
  color: #4A586A;
}
.dropdown-user-content a {
  display: block;
  padding: 10px 20px 5px 20px;
  color: #4A586A;
}
.dropdown-user-content a:last-child {
  display: block;
  padding: 10px 20px 18px 20px;
  color: #4A586A;
}
.dropdown-user-content a:hover {
  color: #007AFF;
  text-decoration: none;
}


.dropdown-user-icon {
  position: relative;
  width: 14px;
  height: 26px;
  float: right;
  margin-left: 20px;
}
.dropdown-user-name {
  position: relative;
  height: 26px;
  float: right;
  margin-left: 10px;
  color: #007AFF;
}
.dropdown-user-down {
  position: relative;
  width: 10px;
  height: 26px;
  float: right;
  margin-left: 30px;
}
.actions {
  margin-top: 25px;
  margin-right: 25px;
  display: none;
}
.actions input {
  border: 1px solid #007AFF;
  padding: 8px 25px 10px 25px;
  color: #007AFF;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 500;
}
.actions input:hover {
  background: #007AFF;
  color: #FFF;
}
.cancel-actions {
  display: inline-block;
  margin-top: 20px;
}
.cancel-actions a {
  color: #A8AEB7;
}
.cancel-actions a:hover {
  color: #4A586A;
}

// Body general layout options

.body-content {
  padding: 20px 30px 20px 30px;
}
.show {
  display: block;
}
.show-inline {
  display: inline-block;
}



// Notfifications

#notice {
  color: green;
  padding: 10px;
  border: 1px #4CAF50 solid;
  border-radius: 4px;
  background-color: #E8F5E9;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
