// Place all the styles related to the todo_app_lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  color: #6A1B9A;
  &:hover {
    text-decoration: underline;
    background-color: #fff;
    color: #6A1B9A;
  }
  &:visited {
    color: #6A1B9A;
  }
}
table {
  font-family: 'Roboto', Helvetica, sans-serif;
}
table, th, td {
  border-left: none;
  border-right: none;
}
.actions {
  border-bottom: 1px #F4F4F4 solid;
  padding-bottom: 40px;
}
.actions input {
  padding: 12px 20px 12px 20px;
  background-color: #6A1B9A;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  transition: ease 0.2s;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.actions input:hover {
  background-color: #803CA9;
  padding: 15px 23px 15px 23px;
}
.field {
  width: 100%;
  border-top: 1px #F4f4f4 solid;
  padding-top: 20px;
}
.field input {
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px;
  border: 1px #e0e0e0 solid;
  min-width: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: ease 0.5s;
}
.field input:focus, textarea:focus {
  border: 1px #6A1B9A solid;
  box-shadow: none;
  min-width: 380px;
  outline: none;
}
.field .t {
  font-weight: bold;
  margin-top: 10px;
}
label {
  background-color: #fff;
  border: 1px #f4f4f4 solid;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left;
}
.title_todo {
  margin-top:40px;
  margin-bottom: 40px;
  font-weight: 100;
}
.table_todo {
  width: 100%;
  border: 2px #f2f2f2 solid;
  border-radius: 5px;
}
.table_todo thead {
  background-color: #f4f4f4;
}
.table_todo thead tr th {
  padding: 15px 15px 15px 20px;
}
.table_todo tbody tr td {
  padding: 10px 10px 10px 20px;
  border-top: 1px #f4f4f4 solid;
  text-align: center;
}
.table_todo tbody tr:hover {
  background-color: #fbfbfb;
}

.table_todo tbody tr td:first-child {
  width: 640px;
  text-align: left;
}
.button_todo {
  margin-top: 30px;
}

.button_todo a {
  padding: 12px 20px 12px 20px;
  background-color: #6A1B9A;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  transition: ease 0.2s;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.button_todo a:hover {
  background-color: #803CA9;
  padding: 15px 23px 15px 23px;
}
.box_todo {
  border-top: 1px #f4f4f4 solid;
  border-bottom: 1px #f4f4f4 solid;
  padding: 20px;
  margin-bottom: 20px;
}
.detail-todo {
  font-size: 16px;
  padding-top: 10px;
}
